body {
  align-items: center;
}

a {
  text-decoration: none;
  transition: 0.25s ease;
}

.hamburger {
  display: none;

  * {
    outline: none !important;
    border: none !important;
  }

  button {
    outline: none !important;
    border: none !important;

    &:hover,
    &:focus,
    &:active {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  div {
    outline: none !important;
    border: none !important;

    &:hover,
    &:focus {
      outline: none !important;
      border: none !important;
    }
  }
}

.nav-btn {
  display: none;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #fdfdf9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.navbar-inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 670px;
}

.navigation-menu {
  display: flex;
  width: 100%;
}

.navbar-ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  li {
    padding-top: 2.7rem;
    outline: none !important;

    &:focus {
      outline: none !important;
    }

    &:active {
      outline: none !important;
    }

    a {
      margin: 0;
      outline: none !important;

      &:focus {
        outline: none !important;
      }

      &:active {
        outline: none !important;
      }
    }

    button {
      outline: none !important;

      &:focus {
        outline: none !important;
      }

      &:active {
        outline: none !important;
      }
    }
  }

  &:hover {
    a {
      color: RGB(237, 238, 218);
      &:hover {
        color: #bb874f;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-inner {
    max-width: 550px;
  }

  .hamburger {
    display: block;
    color: #bb874f;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    right: calc((100vw - 550px) / 2);
    top: 1rem;
  }

  .navbar-ul {
    margin-left: 0rem;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 4.6rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    z-index: 1;
    display: none;
    -webkit-box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
    -moz-box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
    box-shadow: 0px 23px 24px 0px rgba(245, 245, 245, 1);
  }

  .navigation-menu li {
    text-align: center;
    position: relative;
    top: 7%;
    margin-top: 3rem;
    margin-left: -3.2rem;
  }

  .navigation-menu li a {
    width: 100%;
    margin-left: 3.7rem;
    font-size: 2rem;
  }

  .navigation-menu.expanded ul {
    display: block;
    height: 100vh;
  }

  .logout-btn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar-inner {
    max-width: calc(100vw - 40px);
  }

  .hamburger {
    right: 20px;
  }
}

@media screen and (max-width: 420px) {
  .navbar-inner {
    max-width: 80vw;
  }
}
